<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expression Grapher</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Graph any expression</h1>
    <p>It's really simple. All you have to do is input an expression. Then, you can view the image/download it if you'd like.</p>
    <p>Please replace &times; with * and &divide; with /</p>
    <p>If you'd like to graph another expression, please reload the page.</p>
    <p>You can only use <span class="math">𝑥</span>.</p>
    <form id="uploadform">
        <label for="expression">Input your expression(NO f(x) or y= !): </label>
        <input type="text" name="expression" id="expression"><br>
        <button type="submit" id="submit">Plot</button>
    </form>
    <img alt="graph" style="display: none;" id="graph">
    <button style="display: none;"><a id="downloadbutton">Download Graph</a></button>
    <script src="/static/main.js"></script>
</body>
</html>